<!-- *************** Fragments header *************** -->
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      class="has-navbar-fixed-top">
<head th:fragment="header">
    <title>Board'el</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//cdn.muicss.com/mui-0.10.1/css/mui.min.css" rel="stylesheet" type="text/css" media="screen"/>
<!--    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css"/>-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

</head>

<!-- *************** Fragments navigation *************** -->

<div th:fragment="navigation">

    <nav class="navbar">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img th:src="@{/img/boardel.svg}" class="img-fluid" alt="">
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-menu" id="navMenu">
            <div class="navbar-start">

                <a class="navbar-item  is-active" href="/boards/">
                    <span>
                          Topics
                    </span>
                </a>
                <a class="navbar-item is-active" href="/admin" sec:authorize="hasRole('ROLE_ADMIN')">
                    <span>
                          Admin
                    </span>
                </a>

            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary is-spaced is-3" sec:authorize="!isAuthenticated()"
                           href="/register"><strong>Sign up</strong></a>
                        <a class="button is-light is-3" sec:authorize="!isAuthenticated()" href="/login">Log in</a>
                        <form href="#" sec:authorize="isAuthenticated()" id="logout-form" action="#"
                              th:action="@{/logout}" method="post">
                            <button class="button is-light" type="submit">Log out</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


    </nav>

</div>
</html>

<!-- *************** Fragments scripts *************** -->
<div th:fragment="scripts">
    <script src="/webjars/jquery/dist/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/helpers.js"></script>
</div>

<!-- *************** Fragments scripts mde *************** -->
<div th:fragment="scripts_mde">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script>
        var simplemde = new SimpleMDE({
            status: false,
            initialValue: '# Default content'
        });
    </script>
</div>

<!-- *************** Fragments scripts viewer *************** -->
<div th:fragment="scripts_viewer">
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</div>
