<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/fragments.html :: header" lang="en"/>

<body>

<div th:replace="fragments/fragments.html :: navigation"></div>

<div class="container mt-5">
    <h1 class="text-center display-4 mb-3">Boards</h1>
    <table class="table table-hover border border-secondary rounded">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col"><a sec:authorize="hasRole('ROLE_ADMIN') ||hasRole('ROLE_MODO') " class="float-right" href="/boards/create"><i class="fas fa-plus"></i></a></th>
        </tr>
        </thead>
        <tbody class="whiteBackground">

        <tr class="colorHover" th:each="board: ${boards}" th:onclick="'window.location.href=\'/boards/'+ ${board.id} + '\''">

            <td th:text="${board.name}">Default name</td>
            <td th:text="${board.description}">Default description</td>
            <td class="text-right">
                <a sec:authorize="hasRole('ROLE_ADMIN') ||hasRole('ROLE_MODO') " th:href="@{/boards/__${board.id}__/edit}" class="mr-2 text-success"><i class="fas fa-pen"></i></a>
                <a sec:authorize="hasRole('ROLE_ADMIN') ||hasRole('ROLE_MODO') " th:href="@{/boards/__${board.id}__/delete}" class="text-danger"><i class="fas fa-trash"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="fragments/fragments.html :: scripts"></div>
</body>
</html>