<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/fragments.html :: header" lang="en"/>

<body>

<div th:replace="fragments/fragments.html :: navigation"></div>
<br><br>
<div class="box" style="margin-right: 10%;margin-left: 10%;">

    <form method="post" th:action="@{/boards}" th:object="${board}">
        <input type="hidden" th:field="*{id}">
        <h1 class="title is-1 has-text-centered">Topic name</h1>
        <div class="field">
            <p class="control">
                <input type="text" class="input" id="name" placeholder="Board name" th:field="*{name}"
                                   th:classappend="${#fields.hasErrors('name')} ? 'is-invalid' : '' " required>
            </p>
        </div>
        <div class="field">
            <label for="description">Topic description</label>
            <textarea class="textarea" id="description" rows="10" placeholder="Board description"
                      th:field="*{description}"
                      th:classappend="${#fields.hasErrors('description')} ? 'is-invalid' : '' " required></textarea>
            <div class="invalid-feedback"
                 th:each="error: ${#fields.errors('description')}"
                 th:text="${error}">Validation error
            </div>
        </div>
        <div class="field">
            <p class="control">
                <button class="button is-success" type="submit">
                    save
                </button>
            </p>
        </div>
    </form>
</div>
<br><br>

<div th:replace="fragments/fragments.html :: scripts"></div>
</body>
</html>
