<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/fragments.html :: header" lang="en"/>

<body>

<div th:replace="fragments/fragments.html :: navigation"></div>


<div class="container">
    <nav class="breadcrumb has-succeeds-separator" aria-label="breadcrumbs">
      <ul>
        <li class="is-active" aria-current="page"><a href="/boards/">Topics</a></li>
      </ul>
    </nav>
    <div class="content main-content">
        <div class="columns">
            <div class="column is-11-mobile is-8-desktop">

                <section class="section">
                    <h1 class="title is-1">Topics</h1>
                </section>

                <section class="section">
                    <table class="table is-hoverable is-striped is-centered text-centered board-table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th><span>Description</span></th>
                            <th>
                                <a sec:authorize="hasRole('ROLE_ADMIN') ||hasRole('ROLE_MODO') " class="float-right"
                                   href="/boards/create">
                                    <i class="fa fa-plus" style="color:var(--green)"></i>
                                </a>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="board: ${boards}"
                            th:onclick="'window.location.href=\'/boards/'+ ${board.id} + '\''">

                            <td th:text="${board.name}"><span>Default name</span></td>
                            <td th:text="${board.description}"><span>Default description</span></td>
                            <td class="text-right">
                                <a class="first-icon"
                                   sec:authorize="hasRole('ROLE_ADMIN') ||hasRole('ROLE_MODO') "
                                   th:href="@{/boards/__${board.id}__/edit}">
                                    <i class="fa fa-pen" style="color: var(--blue)"></i>
                                </a>
                                <a sec:authorize="hasRole('ROLE_ADMIN') ||hasRole('ROLE_MODO') "
                                   th:href="@{/boards/__${board.id}__/delete}"><i class="fa fa-trash"
                                                                                  style="color:var(--red)"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </section>
            </div>
        </div>
    </div>
</div>

</div>



<div th:replace="fragments/fragments.html :: scripts"></div>
</body>
</html>
