<!DOCTYPE html>
<html lang="en">
<head th:insert="fragments/fragments.html :: header" lang="en"/>

<body>
<div th:replace="fragments/fragments.html :: navigation"></div>
<br><br>
<div class="box" style="margin-right: 10%;margin-left: 10%;">
    <form method="POST" action="#" th:action="@{/forgotpassword}">
        <h1 class="title is-1 has-text-centered">Reset</h1>
        <div style="margin-right: 10%;margin-left: 10%;" th:if="${message != null}"
             class="tag is-success columns is-centered" th:text="${message}" role="alert">
            email send
        </div>
        <div style="margin-right: 10%;margin-left: 10%;" th:if="${error != null}"
             class="tag is-danger columns is-centered" th:text="${error}" role="alert">
            email not found
        </div>
        <br>
        <div class="field">
            <p class="control has-icons-left has-icons-right">
                <input id="email" name="email" type="email" class="input" value="" require>
                <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                </span>
            </p>
        </div>
        <div class="field">
            <p class="control">
                <button class="button is-success" type="submit">
                    Reset
                </button>
            </p>
        </div>
        <div class="field">
            <h4 class="text-center"><a class="button is-text" href="/register">Create an account</a></h4>
            <h4 class="text-center"><a class="button is-text" th:href="@{/login}"
                                       th:text="#{message.resetPassword}">Back to login</a></h4>
        </div>
    </form>
</div>
<br><br>


<div th:replace="fragments/fragments.html :: scripts"></div>

</body>
</html>
