<!DOCTYPE html>
<html lang="en">
<head th:insert="fragments/fragments.html :: header" lang="en"/>

<body>
<div th:replace="fragments/fragments.html :: navigation"></div>
<div class="container">
    <form method="POST" action="#" th:action="@{/forgotpassword}">
        <div class="form-row">
            <div class="mx-auto col-md-6 form-heading">
                <h1 th:text="#{message.resetPassword}">reset</h1>
            </div>
        </div>
        <div class="form-row">
            <div class="mx-auto col-md-6">
                <div th:if="${message != null}" class="alert alert-success" th:text="${message}" role="alert">
                    email send
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="mx-auto col-md-6 form-heading">
                <label th:text="#{label.user.email}">email</label>
                <input id="email" name="email" type="email" value="" class="form-control" required
                       th:classappend="${error != null} ? 'is-invalid' : '' ">
                <div class="invalid-feedback">
                    email not found
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="mx-auto my-md-3 col-md-6">
                <button class="btn btn-lg btn-dark btn-block" type="submit" th:text="#{message.resetPassword}">reset
                </button>
                <h4 class="text-center my-3 "><a th:href="@{/register}" th:text="#{label.form.loginSignUp}">registration</a></h4>
                <h4 class="text-center my-3 "><a th:href="@{/login}" th:text="#{label.form.loginLink}">registration</a></h4>
            </div>
        </div>
    </form>


</div>


<div th:replace="fragments/fragments.html :: scripts"></div>

</body>
</html>