<!DOCTYPE html>
<html lang="en">
<head th:insert="fragments/fragments.html :: header" lang="en"/>

<body>
<div th:replace="fragments/fragments.html :: navigation"></div>
<div class="container">
    <div class="content main-content">
        <div class="columns">
            <div class="column" style="width: 100%">
                <section class="section">
                    <h1 class="title is-1">Reset password</h1>
                </section>
                <div class="section">
                    <div class="columns">
                        <div class="column box-wrapper is-4">
                            <div class="box">
                                <form method="POST" action="#" th:action="@{/forgotpassword}">
                                    <div th:if="${message != null}"
                                         class="tag is-success columns is-centered" th:text="${message}" role="alert">
                                        email send
                                    </div>
                                    <div th:if="${error != null}"
                                         class="tag is-danger columns is-centered" th:text="${error}" role="alert">
                                        email not found
                                    </div>
                                    <br>
                                    <div class="field">
                                        <p class="control has-icons-left has-icons-right">
                                            <input id="email" name="email" type="email" class="input"
                                                   placeholder="Email" value="" require>
                                            <span class="icon is-small is-left">
                                                    <i class="fas fa-envelope"></i>
                                                </span>
                                        </p>
                                    </div>
                                    <div class="field">
                                        <p class="control">
                                            <button class="button is-success" type="submit">
                                                Send
                                            </button>
                                        </p>
                                    </div>
                                    <a class="button is-text" href="/register">Create an account</a>
                                    <a class="button is-text" th:href="@{/login}">Do you have an account already ?</a>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<div th:replace="fragments/fragments.html :: scripts"></div>

</body>
</html>
