<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/fragments.html :: header"/>

<body>
<div th:replace="fragments/fragments.html :: navigation"></div>

<img th:src="@{/img/boardel.svg}" class="img-fluid" alt="">
<br>
<section class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                FIND
            </h1>
            <h2 class="subtitle">
                Find the best subject
            </h2>
        </div>
    </div>
</section>
<br>
<section class="hero is-info is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                CREATE
            </h1>
            <h2 class="subtitle">
                Create a post for help or just talk
            </h2>
        </div>
    </div>
</section>
<br>
<section class="hero is-warning is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                COMMENT
            </h1>
            <h2 class="subtitle">
                Answer to people
            </h2>
        </div>
    </div>
</section>

<div th:replace="fragments/fragments.html :: scripts"></div>
</body>
</html>
