<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/fragments.html :: header" lang="en"/>

<body>

<div th:replace="fragments/fragments.html :: navigation"></div>

<div class="container">
    <nav class="breadcrumb has-succeeds-separator" aria-label="breadcrumbs">
        <ul>
            <li><a href="/boards/">Topics</a></li>
            <li><a th:href="@{/boards/__${post.board.id}__}" th:text="${post.board.name}">Default name
                topic</a></li>
            <li class="is-active"><a th:href="@{/posts/__${post.id}__}" th:text="${post.name}" aria-current="page">Default
                name post</a></li>
        </ul>
    </nav>
    <div class="content main-content">
        <div class="columns">
            <div class="column" style="width: 100%">
                <section class="section">
                    <h1 class="title is-1" th:text="${post.name}">Default name</h1>
                </section>
                <div class="section">
                    <div class="columns">
                        <div class="column box-wrapper is-8">
                            <div id="contenuPost"  th:text="${post.content}" class="content box">Default content</div>
                            <div class="content"
                                 th:text="'Posted by ' + ${post.user.username} + ' the ' + ${postDate}"></div>
                            <div>
                                <h3 class="title is-3">Comments</h3>
                                <form method="post" th:action="@{/comments}" th:object="${comment}"
                                      sec:authorize="isAuthenticated()">
                                    <div class="field" id="contentContainer">
                                        <textarea id="content" class="textarea is-info"
                                                  th:field="*{content}"></textarea>
                                    </div>
                                    <div class="invalid-feedback tag is-danger" style="display: inline !important;"
                                         th:if="${error.length()>0}"
                                         th:text="${error}">Validation error
                                    </div>
                                    <input type="hidden" id="post" th:field="*{post}">
                                    <input type="hidden" id="user" th:field="*{user}">
                                    <input type="hidden" id="createdDate" th:field="*{createdDate}">
                                    <div class="field">
                                        <button type="submit" class="button is-info">Comment</button>
                                    </div>
                                    <br><br>
                                </form>
                                <div th:each="comment: ${post.comments}">
                                    <form method="post" th:action="@{/comments/delete}">
                                        <input type="hidden" th:name="comment" th:value="${comment.id}">
                                        <div th:text="${comment.content}" class="content box">Default content</div>
                                        <div class="field">
                                            <span th:text="'Answered by ' + ${comment.user.username} + ' the ' + ${comment.dateDisplay}"></span>
                                            <button type="submit" class="button is-text" th:if="${#authorization.expression('isAuthenticated()') && (#authorization.expression('hasRole(''ROLE_ADMIN'')') || #authorization.expression('hasRole(''ROLE_MODO'')'))}">
                                                <i class="fa fa-trash" style="color:var(--red)"></i>
                                            </button>
                                        </div>
                                    </form>
                                    <br><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div th:replace="fragments/fragments.html :: scripts"></div>

</body>
</html>
