<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/fragments.html :: header" lang="en"/>

<body>

<div th:replace="fragments/fragments.html :: navigation"></div>

<div class="container mt-5">
    <form method="post" th:action="@{/posts}" th:object="${post}">
        <div class="form-group">
            <label for="name">Post name</label>
            <input type="text" class="form-control" id="name" placeholder="Post name" th:field="*{name}"
                   th:classappend="${#fields.hasErrors('name')} ? 'is-invalid' : '' " required>
            <div class="invalid-feedback"
                 th:each="error: ${#fields.errors('name')}"
                 th:text="${error}">Validation error
            </div>
        </div>
        <div class="form-group">
            <label for="content">Post content</label>
            <textarea class="form-control" id="content" th:field="*{content}"
                      th:classappend="${#fields.hasErrors('content')} ? 'is-invalid' : '' "></textarea>
            <div class="invalid-feedback"
                 th:each="error: ${#fields.errors('content')}"
                 th:text="${error}">Validation error
            </div>
        </div>
        <input type="hidden" th:field="*{id}">
        <input type="hidden" th:field="*{board}">
        <input type="hidden" th:field="*{user}">
        <input type="hidden" th:field="*{modifiedDate}">
        <button type="submit" class="btn btn-primary float-right">Post</button>
    </form>
</div>

<div th:replace="fragments/fragments.html :: scripts"></div>
<div th:replace="fragments/fragments.html :: scripts_mde"></div>
</body>
</html>