<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/fragments.html :: header" lang="en"/>

<body>

<div th:replace="fragments/fragments.html :: navigation"></div>

<div class="container">
    <nav class="breadcrumb has-succeeds-separator" aria-label="breadcrumbs">
      <ul>
        <li><a href="/boards/">Topics</a></li>
        <li><a th:href="@{/boards/__${post.getBoard().id}__}" th:text="${post.getBoard().name}" >Default name topic</a></li>
          <li class="is-active"><a aria-current="page">Create post</a></li>
      </ul>
    </nav>
    <div class="content main-content">
        <div class="columns">
            <div class="column" style="width: 100%">
                <section class="section">
                    <h1 class="title is-1">Create a post</h1>
                </section>
                <div class="section">
                    <div class="columns">
                        <div class="column box-wrapper is-8">
                            <div class="box">

                                <form method="post" th:action="@{/posts}" th:object="${post}">
                                    <div class="field">
                                            <input type="text" class="input" id="name" placeholder="Post name" th:field="*{name}"
                                                   th:classappend="${#fields.hasErrors('name')} ? 'is-invalid' : '' "
                                                   required>
                                    </div>
                                    <div class="field">
                                        <textarea class="textarea" id="content"
                                                  th:field="*{content}" th:classappend="${#fields.hasErrors('content')} ? 'is-invalid' : '' "></textarea>
                                        <div class="invalid-feedback tag is-danger"
                                             th:each="error: ${#fields.errors('content')}"
                                             th:text="${error}"><span>Validation error</span>
                                        </div>
                                    </div>
                                    <input type="hidden" th:field="*{id}">
                                    <input type="hidden" th:field="*{board}">
                                    <input type="hidden" th:field="*{user}">
                                    <input type="hidden" th:field="*{modifiedDate}">
                                    <button type="submit" class="button is-success">Create</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/fragments.html :: scripts"></div>
</body>
</html>
