<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
</head>
<style>


    body {
        --primary: #00949E;
        --red: #ec008c;
        --green: #139A43;
        --blue: #3587A4;
    }

    .main-content {
        width: 100%;
    }

    .box-wrapper {
        margin: 0 auto 0 auto;
    }
</style>
<body>

<div class="container">
    <div class="content main-content">
        <div class="columns">
            <div class="column" style="width: 100%">
                <section class="section">
                    <h1 class="title is-1">Change password</h1>
                </section>
                <div class="section">
                    <div class="columns">
                        <div class="column box-wrapper is-4">
                            <div class="box">

                                <form action="#" th:action="@{/user/updatePassword}" th:object="${pwdForm}"
                                      method="POST" enctype="utf8">
                                    <div class="field">
                                        <p class="control has-icons-left has-icons-right">
                                            <input type="password" th:field="*{newPassword}" class="input"
                                                   placeholder="Password"
                                                   th:classappend="${#fields.hasErrors('newPassword')} ? 'is-invalid' : '' "
                                                   required/>
                                            <span class="icon is-small is-left">
                                            <i class="fas fa-lock"></i>
                                            </span>
                                        <div class="invalid-feedback tag is-danger"
                                             th:each="error : ${#fields.errors('newPassword')}"
                                             th:text="${error}">Validation error
                                        </div>
                                    </div>
                                    <div class="field">
                                        <p class="control has-icons-left has-icons-right">
                                            <input type="password" placeholder="Repeat password"
                                                   th:field="*{newPasswordConfirm}" class="input"
                                                   th:classappend="${#fields.hasErrors('newPasswordConfirm')} ? 'is-invalid' : '' "
                                                   required/>
                                            <span class="icon is-small is-left">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                        <div class="invalid-feedback tag is-danger"
                                             th:each="error : ${#fields.errors('newPasswordConfirm')}"
                                             th:text="${error}">Validation error
                                        </div>
                                    </div>
                                    <div class="field">
                                        <p class="control">
                                            <button class="button is-success" type="submit"
                                                    th:text="#{label.form.submit}">Confirm
                                            </button>
                                        </p>
                                    </div>

                                    <input type="hidden" th:field="*{id}">
                                    <input type="hidden" th:field="*{token}">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                    


</div>


<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</body>
</html>
